body {
    width: 640px;
    margin: 20px auto;
    color: #323232;
}

header {
    margin-bottom: 40px;
}

header .title {
    text-align: center;
    font-size: 2.5em;
}

header .author {
    text-align: center;
}

p {
    text-align: justify;
}


@media print {
    header {
        page-break-after: always;
    }
    header .title {
        margin: 200px 0 500px 0;
    }
    section {
        page-break-after: always;
    }
}
