@font-face {
  font-family: 'Lohit Devanagari';
  font-style: normal;
  font-weight: 400;
  src: url('Lohit-Devanagari.ttf');
}
body {
    text-rendering: optimizeLegibility;
    font-family: 'Lohit Devanagari';
}
